.trade {
    border: 1px solid #ccc;
    padding: 10px;
    align-items: center;
}

.trades {
    display: flex;
    flex-direction: column;
    height: 90%;
    gap: 10px;
    overflow: auto;
    width: 110%;
}

.selected_items_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 25px;
    margin-left: 20px;
}

.selected_item {
    border: 1px solid #ddd;
    text-align: center;
    max-height: 100%;
    width: 150px;
    cursor: pointer;
    padding: 10px;
}

.selected_item img {
    max-width: 100%;
    max-height: 50%;
    height: auto;
    margin-bottom: 5px;
    max-height: 50%;
    border: 3px solid black;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}