.users_wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 48px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 4px rgba(0, 123, 255, 0.8);
}

th,
td {
    width: 150px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 25px;
}


button {
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

td {
    padding: 12px;
}