.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.users-list {
  list-style: none;
  padding: 0;
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-button {
  margin-left: 10px;
}

.users-container {
  max-width: 600px;
  margin-left: 50px;
  margin-right: 50px;
  gap: 10px;
}

.user-item {
  margin-bottom: 10px;
}

.user-button {
  cursor: pointer;
}

.trade-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.trade-modal {
  background: #222;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 95%;
  height: 90%;
  text-align: center;
  color: white;
  overflow: none;
}

.inventory {
  height: 45%;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid black;
  margin: 5px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.modal_items {
  display: flex;
  gap: 20px;

}

.inventories {
  display: flex;
  flex-direction: column;
  width: 200vh;
  height: 90vh;
}

.selected-items-box {
  max-width: 1000px;
  min-height: 175px;
  max-height: 500px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  margin-left: 10px;
  margin-bottom: 10px;
  align-self: center;
}

.selected-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 25px;
  margin-left: 20px;
}

.selected-item {
  border: 1px solid #ddd;
  text-align: center;
  max-height: 100%;
  width: 150px;
  cursor: pointer;
  padding: 10px;
}

.selected-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
  max-height: 50%;
  border: 3px solid black;
  border-radius: 5px;
}

p {
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.your_items {
  justify-self: center;
}
