.users_wrap{
    overflow-y: auto;
    max-height: 500px;
}

/* Users.css */

.users_wrap {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    width: 150px;
    text-align: left;
}


button {
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}


/* UserRow.css */

td {
    padding: 12px;
}

